.loginCon{
    width: 100%;
    height: 100%;
    background: url(../imgs/bg.png);
    /*background-repeat: no-repeat;*/
    background-size:contain ;
}
.logo{
    width: 85px;
    height: 70px;
    margin: 20% auto 0;
    background: url(../imgs/icon.png);
    background-repeat: no-repeat;
    background-size: 600%;
    background-position: 0.5% 2.5%;
}

.inputarea{
    width: 95%;
    height: auto;
    overflow: hidden;
    margin: 10% auto 0;
}
.fromOther{
    width: 100%;
    height: auto;
    overflow: hidden;
    display: none;
}
.fromNature{
    width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
}


.input-item{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align:middle;
    background: #f7ce84;
    opacity: .8;
    border-radius: 6px;
    margin-bottom: 15px;
}

.input-item-left{
    width: 50px;
    height: 50px;
    border-right: 1px solid #eeb35c;
    background: url(../imgs/icon.png);
    background-repeat: no-repeat;
    background-size: 1200%;
    background-position: 23.5% 5%;
}

.input-item-right{
    width: calc(100% - 60px);
}

.input-item-right>input{
    width: 90%;
    height: 50px;
    border: none;
    outline: none;
    background:none;
    padding-left: 10px;
    color: #ffffff;
}

.input-item-right>input::placeholder{
    font-size: 10pt;
    color:#eeeeee;
}


.input-item-left-pwd{
    background-position: 42% 5%;
}

.input-item-left-tel{
    background-position: 60.5% 5%;
}

.input-item-left-mail{
    background-position: 79% 5%;
}

.input-item-left-qq{
    background-position: 97.5% 5%;
}

.login-btn{
    width: 80%;
    height: 40px;
    font-size: 12pt;
    margin: 10% auto 0;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border: 1px solid #fff;
    border-radius: 25px;
    cursor: pointer;
}

.tips{
    width: 100%;
    height: 20px;
    text-align: center;
    margin: 20px auto;
}

.tips>h2{
    font-size: 10pt;
    color:#e8e7e7;
}

.tips>h2>a{
    font-size: 10pt;
    color:#fff;
}